.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.avatar {
	width: 48px;
	height: 35px;
    border-radius: 100%; /* половина ширины и высоты */
    margin: 10px;
  background-color: yellow;
}
